# Postgres
POSTGRES_USER=nac_user
POSTGRES_DB=nac_db
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
POSTGRES_PORT=5432


# Redis
REDIS_PORT=6379

# FreeRADIUS
RADIUS_AUTH_PORT=1812
RADIUS_ACCOUNTING_PORT=1813


# API
API_ENV=local
API_PORT=8000

